In [1]:
##Imports and Dependancies
import os
import csv
import pandas as pd
from pandas.io import sql
import pymysql
from sqlalchemy import create_engine, text
from sqlalchemy.dialects.mysql import VARCHAR, INTEGER, DOUBLE
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float
from warnings import filterwarnings
filterwarnings('ignore', category=pymysql.Warning)

In [2]:
csvpath1 = os.path.join("Resources", "IBMDetail.csv")
csvpath2 = os.path.join("Resources", "tOptSymbol20151011.csv")
csvpath3 = os.path.join("Resources", "tOptSymbol20150919.csv")
csvpath4 = os.path.join("Resources", "tStkSymbol.csv")

ibm_detail_df = pd.read_csv(csvpath1)
toptsymbol20151011_df = pd.read_csv(csvpath2)
toptsymbol20150919_df = pd.read_csv(csvpath3)
tstksymbol_df = pd.read_csv(csvpath4)

In [3]:
engine = create_engine('mysql+pymysql://root:kcmo1728@localhost')  # connect to server
engine.execute("drop database if exists 20181114_ses_project")
engine.execute("create database 20181114_ses_project")
engine.dispose() 

engine = create_engine('mysql+pymysql://root:kcmo1728@localhost/20181114_ses_project') # select new db

### Pandas to_sql 

* Even though it's a Pandas function we are passing it the sqlAlchemy engine that we created earlier. Pandas uses this engine to connect to SQL. http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html

**name** : name of the table

**if_exists** : {‘fail’, ‘replace’, ‘append’}, default ‘fail’
fail: If table exists, do nothing.
replace: If table exists, drop it, recreate it, and insert data.
append: If table exists, insert data. Create if does not exist.

**index** : write our Pandas dataframe index as a column. Usually you want to say False.

In [4]:
ibm_detail_df.to_sql(con=engine, name='ibm_detail', if_exists='replace', index=False)
toptsymbol20151011_df.to_sql(con=engine, name='toptsymbol20151011', if_exists='replace', index=False)
toptsymbol20150919_df.to_sql(con=engine, name='toptsymbol20150919', if_exists='replace', index=False)
tstksymbol_df.to_sql(con=engine, name='tstksymbol', if_exists='replace', index=False)
engine.dispose()

Convert data from MySQL to SQlite

In [5]:
engine = create_engine('sqlite:///database.sqlite')

In [6]:
class ibm_detail(Base):
    __tablename__ = 'ibm_details_df'
    udate = Column(Integer, primary_key=True)
    close = Column(Float)
    high = Column(Float)
    low = Column(Float)
    opening = Column(Float)
    volume = Column(Float)
    field7 = Column(Float)
    ldate = Column(Integer)
    ltime = Column(Integer)
    pcalcindx = Column(Integer)

In [ ]:
details = ibm_detail()